main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.blog-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-post {
  border: 1px solid #b380ff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: #b380ff;
  transition: all 0.3s ease;
}

.blog-post:hover {
  background: #b380ff;
  color: #0d0d0d;
  transform: translateY(-4px);
}

